<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>427287208329-bjvdehl6t4kqobj81irl2jibgo7boq88.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.427287208329-bjvdehl6t4kqobj81irl2jibgo7boq88</string>
	<key>API_KEY</key>
	<string>AIzaSyDCVFI7AmzgKR7_pqR88FVssepSp8iAias</string>
	<key>GCM_SENDER_ID</key>
	<string>427287208329</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-8140e</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-8140e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:427287208329:ios:3e756406e93abd9fa90158</string>
</dict>
</plist>